* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fuzzy Bubbles', cursive;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
}

.footer {
  font-size: 2.5rem;
}

.nav__heading {
  padding: 10px;
  font-size: 4rem;
  margin-left: 40%;
  margin-right: 20%;
  margin-top: 3%;
}

.nav__difficulty {
  margin: auto;
  font-size: 2.5rem;
}

.nav__select_wrap {
  margin: auto 10px;
  font-size: 2rem;
  position: relative;
  user-select: none;
}

.nav__select_wrap .default_option {
  background-color: #000;
  color: #fff;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
}
.nav__select_wrap .default_option li {
  height: 30px;
  width: 100px;
}
.nav__select_wrap .select_ul {
  position: absolute;
  top: 35px;
  left: 0;
  width: 100%;
  display: none;
  opacity: 0;
}
.nav__select_wrap .select_ul li {
  background: #000;
  color: #fff;
  cursor: pointer;
  padding: 5px 10px;
}

.option {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.option p {
  margin-top: 3px;
  margin-left: 10px;
}


.active .select_ul {
  display: block;
  opacity: 1;
}

.item {
  border-radius: 5rem;
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.22);
  border: 10px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6rem;
  cursor: pointer;
}
.item p {
  user-select: none;
}

.hidden {
  display: none;
}

.font-sm {
  font-size: 5rem;
}

button {
  background-color: #000;
  color: #fff;
  font-size: 2.5rem;
  padding: 1.2rem 4.5rem;
  border-radius: 20px;
  cursor: pointer;
}
button:hover {
  background-color: rgba(0, 0, 0, 0.589);
}

.play {
  justify-self: center;
  align-self: center;
}

.container {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

.nav {
  width: 95%;
  display: flex;
  justify-content: space-between;
  user-select: none;
}

.content {
  display: grid;
  padding: 0 1rem;
}

.content-sm {
  grid-template-rows: repeat(2, minmax(8rem, 18rem));
  grid-template-columns: repeat(2, minmax(8rem, 18rem));
  grid-gap: 6rem;
}

.content-md {
  grid-template-rows: repeat(3, minmax(7rem, 16rem));
  grid-template-columns: repeat(3, minmax(7rem, 16rem));
  grid-gap: 4rem;
}

.content-lg {
  grid-template-rows: repeat(4, minmax(5rem, 14rem));
  grid-template-columns: repeat(4, minmax(5rem, 14rem));
  grid-gap: 2rem;
}